
.carousel .carousel-item {
    height: 600px;
    padding: 198px 500px 90px 500px;
  }
  
  .carousel-item img {
    object-fit:contain;
    object-position: center;
    overflow: hidden;
    height: 400px;
  }